<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzq.katl.dao.FamousMapper">
	<resultMap id="BaseResultMapResult" type="com.yzq.katl.model.Famous">
		<id property="id" column="ID"/>
		<result property="title" column="Title"/>
		<result property="logoUrl" column="LogoUrl"/>
		<result property="description" column="Description"/>
		<result property="seoId" column="SEOID"/>
		<result property="briefId" column="BriefID"/>
		<result property="basicId" column="BasicID"/>
		<result property="clickTimes" column="ClickTimes"/>
		<result property="status" column="Status"/>
		<result property="sort" column="Sort"/>
		<result property="isDeleted" column="IsDeleted"/>
		<result property="createTime" column="CreateTime"/>
		<result property="updateTime" column="UpdateTime"/>
	</resultMap>
	
	<resultMap id="BaseResultExtendResult" type="com.yzq.katl.dto.FamousDTO" extends="BaseResultMapResult">
		<result property="brief" column="brief"/>
		<result property="basic" column="basic"/>
	</resultMap>
	
	<!-- 查询首页名人列表 -->
	<select id="selectNewFamousList" resultMap="BaseResultExtendResult">
		SELECT f.*,
		(SELECT c1.HtmlText FROM content AS c1 WHERE c1.ID = f.BriefID) AS brief,
		(SELECT c2.HtmlText FROM content AS c2 WHERE c2.ID = f.BasicID) AS basic
		 FROM famous f
		ORDER BY f.CreateTime DESC LIMIT 0,18;
	</select>
	
	<!-- 查询点击排行 -->
	<select id="selectTopClickFamousList" resultMap="BaseResultExtendResult">
		SELECT f.*,
		(SELECT c1.HtmlText FROM content AS c1 WHERE c1.ID = f.BriefID) AS brief,
		(SELECT c2.HtmlText FROM content AS c2 WHERE c2.ID = f.BasicID) AS basic
		 FROM famous f
		ORDER BY f.ClickTimes DESC LIMIT 0,10;
	</select>
	
	<!-- 随机抽取6条数据 -->
	<select id="selectRandomFamousList" resultMap="BaseResultExtendResult">
		SELECT f.*,
		(SELECT c1.HtmlText FROM content AS c1 WHERE c1.ID = f.BriefID) AS brief,
		(SELECT c2.HtmlText FROM content AS c2 WHERE c2.ID = f.BasicID) AS basic
		 FROM famous f
		ORDER BY rand() DESC LIMIT 0,6;
	</select>
	
	<!-- 添加点击次数 -->
	<update id="updateFamousClickTimes">
		UPDATE famous SET ClickTimes=ClickTimes+1 WHERE ID= #{id}
	</update>
	
	<select id="selectFamousById" resultMap="BaseResultExtendResult">
		SELECT f.*,
		(SELECT c1.HtmlText FROM content AS c1 WHERE c1.ID = f.BriefID) AS brief,
		(SELECT c2.HtmlText FROM content AS c2 WHERE c2.ID = f.BasicID) AS basic
		 FROM famous f WHERE f.ID = #{id}
	</select>
	
	<select id="selectFamousListTotalCount" resultType="int">
		SELECT  count(*) FROM  `famous` AS f
		<where>
			<if test="title != null and title != ''">
				f.Title LIKE "%"#{title}"%";
			</if>
		</where>
	</select>
	
	<select id="selectFamousList" resultMap="BaseResultExtendResult">
		SELECT f.*,
		(SELECT c1.HtmlText FROM content AS c1 WHERE c1.ID = f.BriefID) AS brief,
		(SELECT c2.HtmlText FROM content AS c2 WHERE c2.ID = f.BasicID) AS basic
		 FROM famous f
		<where>
			<if test="title != null and title != ''">
				f.Title LIKE "%"#{title}"%"
			</if>
		</where>
		ORDER BY f.CreateTime DESC
		LIMIT #{page.start},#{page.pageSize} 
	</select>
	
</mapper>