<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzq.katl.dao.MysteryMapper">
	<resultMap id="BaseResultMapResult" type="com.yzq.katl.model.Mystery">
		<id property="id" column="ID"/>
		<result property="categoryId" column="CategoryID"/>
		<result property="title" column="Title"/>
		<result property="description" column="Description"/>
		<result property="seoId" column="SEOID"/>
		<result property="logoUrl" column="LogoUrl"/>
		<result property="clickTimes" column="ClickTimes"/>
		<result property="contentId" column="ContentID"/>
		<result property="isHot" column="IsHot"/>
		<result property="isRecommend" column="IsRecommend"/>
		<result property="isTop" column="IsTop"/>
		<result property="status" column="Status"/>
		<result property="sort" column="Sort"/>
		<result property="isDeleted" column="IsDeleted"/>
		<result property="createTime" column="CreateTime"/>
		<result property="updateTime" column="UpdateTime"/>
	</resultMap>
	
	<resultMap id="BaseResultExtendResult" type="com.yzq.katl.dto.MysteryDTO" extends="BaseResultMapResult">
		<result property="htmlText" column="HtmlText"/>
	</resultMap>
	
	<!-- 查询最新的未解之谜 -->
	<select id="selectNewMysteryList" resultMap="BaseResultExtendResult">
		SELECT e.*,c.HtmlText FROM mystery AS e LEFT JOIN content AS c ON e.ContentID = c.ID 
		ORDER BY e.CreateTime DESC LIMIT 0,8;
	</select>
	
	<!-- 查询最新的未解之谜 -->
	<select id="selectTopClickMysteryList" resultMap="BaseResultExtendResult">
		SELECT e.*,c.HtmlText FROM mystery AS e LEFT JOIN content AS c ON e.ContentID = c.ID 
		ORDER BY e.ClickTimes DESC LIMIT 0,10;
	</select>
	
	<!-- 随机未解之谜 -->
	<select id="selectRandomMysteryList" resultMap="BaseResultExtendResult">
		SELECT e.*,c.HtmlText FROM mystery AS e LEFT JOIN content AS c ON e.ContentID = c.ID 
		ORDER BY rand() DESC LIMIT 0,4;
	</select>
	
	<!-- 添加点击次数 -->
	<update id="updateMysteryClickTimes">
		UPDATE mystery SET ClickTimes=ClickTimes+1 WHERE ID= #{id}
	</update>
	
	<select id="selectMysteryListTotalCount" resultType="int">
		SELECT  count(*) FROM  `mystery` AS e
	</select>
	
	<select id="selectMysteryList" resultMap="BaseResultExtendResult">
		SELECT e.*,c.HtmlText FROM mystery AS e LEFT JOIN content AS c ON e.ContentID = c.ID 
		ORDER BY e.CreateTime DESC
		LIMIT #{page.start},#{page.pageSize} 
	</select>
	
	
	<select id="selectMysteryById" resultMap="BaseResultExtendResult">
		SELECT e.*,c.HtmlText FROM mystery AS e LEFT JOIN content AS c ON e.ContentID = c.ID
		WHERE e.ID = #{id} 
	</select>
	
	<select id="selectNextMysteryById" resultMap="BaseResultExtendResult">
		<![CDATA[
			SELECT e.* FROM `mystery` AS e WHERE e.ID > #{id} ORDER BY e.ID ASC LIMIT 0,1
		]]>
	</select>
	
	<select id="selectPreMysteryById" resultMap="BaseResultExtendResult">
		<![CDATA[
			SELECT e.* FROM `mystery` AS e WHERE e.ID < #{id} order by e.ID DESC LIMIT 0,1
		]]>
	</select>
</mapper>